flow.json
[
    {
        "id": "4802f08a.e28c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b483e77d.48ce08",
        "type": "subflow",
        "name": "Get",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 940,
                "y": 60,
                "wires": []
            }
        ]
    },
    {
        "id": "d6c6f9c.fb54f08",
        "type": "subflow",
        "name": "Post",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 620,
                "y": 80,
                "wires": [
                    {
                        "id": "14b0f4b5.1e347b",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "d09b2e26.23c97",
        "type": "ui_group",
        "z": "",
        "name": "Http requests",
        "tab": "20bdbd05.eba782",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "20bdbd05.eba782",
        "type": "ui_tab",
        "z": "4802f08a.e28c8",
        "name": "Home",
        "icon": "dashboard",
        "order": "1"
    },
    {
        "id": "b1d3ba39.817868",
        "type": "firebase config",
        "z": "d6c6f9c.fb54f08",
        "firebaseurl": "graphic-mission-175719",
        "loginType": "none"
    },
    {
        "id": "51038992.05f198",
        "type": "firebase config",
        "z": "",
        "firebaseurl": "graphic-mission-175719",
        "loginType": "anonymous"
    },
    {
        "id": "b3235286.58502",
        "type": "http in",
        "z": "b483e77d.48ce08",
        "name": "get",
        "url": "/get",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 180,
        "wires": [
            [
                "21f8f10a.5f633e",
                "47e8268.35f0ad8"
            ]
        ]
    },
    {
        "id": "161b5f0b.f5d771",
        "type": "http response",
        "z": "b483e77d.48ce08",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "21f8f10a.5f633e",
        "type": "debug",
        "z": "b483e77d.48ce08",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.headers.user-agent",
        "x": 280,
        "y": 140,
        "wires": []
    },
    {
        "id": "47e8268.35f0ad8",
        "type": "function",
        "z": "b483e77d.48ce08",
        "name": "response data",
        "func": "msg.payload='Congratulations a you made a get request';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 220,
        "wires": [
            [
                "161b5f0b.f5d771",
                "87a90344.d71cd"
            ]
        ]
    },
    {
        "id": "87a90344.d71cd",
        "type": "function",
        "z": "b483e77d.48ce08",
        "name": "response data",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.payload=msg.count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "5499cfaf.4784b"
            ]
        ]
    },
    {
        "id": "5499cfaf.4784b",
        "type": "function",
        "z": "b483e77d.48ce08",
        "name": "response data",
        "func": "if (msg.db)\n{\n    msg.payload=msg.db\n    return msg;\n}\nif (msg.payload){\n    msg.db=msg.db+1;\n    msg.payload=msg.db\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "bb5d28d1.1fbe38",
        "type": "function",
        "z": "b483e77d.48ce08",
        "name": "",
        "func": "msg.db=msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "5499cfaf.4784b"
            ]
        ]
    },
    {
        "id": "588d1ff7.186d",
        "type": "http in",
        "z": "d6c6f9c.fb54f08",
        "name": "post",
        "url": "/post",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "1624bead.6d1061",
                "14b0f4b5.1e347b"
            ]
        ]
    },
    {
        "id": "1624bead.6d1061",
        "type": "http response",
        "z": "d6c6f9c.fb54f08",
        "name": "post response",
        "statusCode": "200",
        "headers": {},
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "14b0f4b5.1e347b",
        "type": "function",
        "z": "d6c6f9c.fb54f08",
        "name": "response data",
        "func": "\nif (msg.payload){\n    msg.db=msg.db+1;\n    msg.payload=msg.db\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "907f190c.779de8",
        "type": "ui_text",
        "z": "4802f08a.e28c8",
        "group": "d09b2e26.23c97",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Get ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 570,
        "y": 200,
        "wires": [],
        "icon": "node-red-node-rbe/rbe.png"
    },
    {
        "id": "8cc72a3d.5a5d68",
        "type": "ui_text",
        "z": "4802f08a.e28c8",
        "group": "d09b2e26.23c97",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Post",
        "format": "{{msg.count}}",
        "layout": "col-center",
        "x": 510,
        "y": 340,
        "wires": [],
        "icon": "node-red-node-rbe/rbe.png"
    },
    {
        "id": "854b5734.618998",
        "type": "debug",
        "z": "4802f08a.e28c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 330,
        "y": 400,
        "wires": []
    },
    {
        "id": "9a655128.37ec4",
        "type": "subflow:d6c6f9c.fb54f08",
        "z": "4802f08a.e28c8",
        "name": "post",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "8cc72a3d.5a5d68"
            ]
        ]
    },
    {
        "id": "336a4859.5519a8",
        "type": "subflow:b483e77d.48ce08",
        "z": "4802f08a.e28c8",
        "name": "Get",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "907f190c.779de8"
            ]
        ]
    },
    {
        "id": "137086d6.01fce9",
        "type": "firebase auth",
        "z": "4802f08a.e28c8",
        "name": "DB",
        "firebaseconfig": "51038992.05f198",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "5028b6cf.fd6518"
            ]
        ]
    },
    {
        "id": "5028b6cf.fd6518",
        "type": "debug",
        "z": "4802f08a.e28c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "fed914f4.4fbb08",
        "type": "firebase.on",
        "z": "4802f08a.e28c8",
        "name": "db_post",
        "firebaseconfig": "51038992.05f198",
        "childpath": "post",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 140,
        "y": 80,
        "wires": [
            [
                "9f063ca7.40891",
                "5df584bb.c5267c"
            ]
        ]
    },
    {
        "id": "9f063ca7.40891",
        "type": "function",
        "z": "4802f08a.e28c8",
        "name": "",
        "func": "\nglobal.set('Post',msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5df584bb.c5267c",
        "type": "debug",
        "z": "4802f08a.e28c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "ed9d3f07.5410b",
        "type": "ui_gauge",
        "z": "4802f08a.e28c8",
        "name": "",
        "group": "d09b2e26.23c97",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Post Value",
        "label": "units",
        "format": "{{msg.payload.value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "36036089.19198",
        "type": "firebase.on",
        "z": "4802f08a.e28c8",
        "name": "post_db",
        "firebaseconfig": "51038992.05f198",
        "childpath": "post",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 330,
        "y": 40,
        "wires": [
            [
                "ed9d3f07.5410b"
            ]
        ]
    }
]