flow.json
[
    {
        "id": "4802f08a.e28c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b483e77d.48ce08",
        "type": "subflow",
        "name": "Get",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 720,
                "y": 80,
                "wires": [
                    {
                        "id": "89a3d4a5.2e7758",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "d6c6f9c.fb54f08",
        "type": "subflow",
        "name": "Post",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 800,
                "y": 140,
                "wires": [
                    {
                        "id": "1dd9ef08.5ff261",
                        "port": 0
                    }
                ]
            },
            {
                "x": 500,
                "y": 240,
                "wires": [
                    {
                        "id": "588d1ff7.186d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 220,
                "wires": [
                    {
                        "id": "3a48e7ca.9d9168",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "5926e5fb.06ee9c",
        "type": "subflow",
        "name": "Value_db",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 640,
                "y": 20,
                "wires": [
                    {
                        "id": "1534ea2b.7f2f66",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "c61304d7.c388e8",
        "type": "subflow",
        "name": "Get_db",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "d6158ccb.01e2c",
        "type": "subflow",
        "name": "Post_db",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "d09b2e26.23c97",
        "type": "ui_group",
        "z": "",
        "name": "Http requests",
        "tab": "20bdbd05.eba782",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "20bdbd05.eba782",
        "type": "ui_tab",
        "z": "4802f08a.e28c8",
        "name": "Home",
        "icon": "dashboard",
        "order": "1"
    },
    {
        "id": "b1d3ba39.817868",
        "type": "firebase config",
        "z": "d6c6f9c.fb54f08",
        "firebaseurl": "graphic-mission-175719",
        "loginType": "none"
    },
    {
        "id": "51038992.05f198",
        "type": "firebase config",
        "z": "",
        "firebaseurl": "graphic-mission-175719",
        "loginType": "none"
    },
    {
        "id": "704e5632.89e718",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial,Arial,Helvetica,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "acf12baf.a4ecb8",
        "type": "ui_group",
        "z": "",
        "name": "Value",
        "tab": "20bdbd05.eba782",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b3235286.58502",
        "type": "http in",
        "z": "b483e77d.48ce08",
        "name": "get",
        "url": "/get",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 180,
        "wires": [
            [
                "21f8f10a.5f633e",
                "47e8268.35f0ad8",
                "18900538.df221b"
            ]
        ]
    },
    {
        "id": "161b5f0b.f5d771",
        "type": "http response",
        "z": "b483e77d.48ce08",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "21f8f10a.5f633e",
        "type": "debug",
        "z": "b483e77d.48ce08",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.headers.user-agent",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "47e8268.35f0ad8",
        "type": "function",
        "z": "b483e77d.48ce08",
        "name": "response data",
        "func": "msg.payload='Congratulations a you made a get request';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 220,
        "wires": [
            [
                "161b5f0b.f5d771"
            ]
        ]
    },
    {
        "id": "588d1ff7.186d",
        "type": "http in",
        "z": "d6c6f9c.fb54f08",
        "name": "post",
        "url": "/post",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "1624bead.6d1061",
                "14b0f4b5.1e347b",
                "67ec706f.ba759"
            ]
        ]
    },
    {
        "id": "1624bead.6d1061",
        "type": "http response",
        "z": "d6c6f9c.fb54f08",
        "name": "post response",
        "statusCode": "200",
        "headers": {},
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "14b0f4b5.1e347b",
        "type": "function",
        "z": "d6c6f9c.fb54f08",
        "name": "response data",
        "func": "var count=global.get('Post');\ncount=count+1;\nmsg.payload=count\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "1dd9ef08.5ff261"
            ]
        ]
    },
    {
        "id": "907f190c.779de8",
        "type": "ui_text",
        "z": "c61304d7.c388e8",
        "group": "d09b2e26.23c97",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Get ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 560,
        "wires": [],
        "icon": "node-red-node-rbe/rbe.png"
    },
    {
        "id": "854b5734.618998",
        "type": "debug",
        "z": "4802f08a.e28c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "9a655128.37ec4",
        "type": "subflow:d6c6f9c.fb54f08",
        "z": "4802f08a.e28c8",
        "name": "post",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "854b5734.618998",
                "3147f93e.0ee686"
            ],
            [
                "854b5734.618998"
            ],
            [
                "854b5734.618998"
            ]
        ]
    },
    {
        "id": "336a4859.5519a8",
        "type": "subflow:b483e77d.48ce08",
        "z": "4802f08a.e28c8",
        "name": "Get",
        "x": 170,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "137086d6.01fce9",
        "type": "firebase auth",
        "z": "4802f08a.e28c8",
        "name": "DB",
        "firebaseconfig": "51038992.05f198",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "5028b6cf.fd6518"
            ]
        ]
    },
    {
        "id": "5028b6cf.fd6518",
        "type": "debug",
        "z": "4802f08a.e28c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "fed914f4.4fbb08",
        "type": "firebase.on",
        "z": "d6158ccb.01e2c",
        "name": "db_post",
        "firebaseconfig": "51038992.05f198",
        "childpath": "post",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "9f063ca7.40891",
                "5df584bb.c5267c"
            ]
        ]
    },
    {
        "id": "9f063ca7.40891",
        "type": "function",
        "z": "d6158ccb.01e2c",
        "name": "",
        "func": "\nglobal.set('Post',msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5df584bb.c5267c",
        "type": "debug",
        "z": "d6158ccb.01e2c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "1534ea2b.7f2f66",
        "type": "firebase.on",
        "z": "5926e5fb.06ee9c",
        "name": "db_value",
        "firebaseconfig": "51038992.05f198",
        "childpath": "value",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 160,
        "y": 120,
        "wires": [
            [
                "876c1a3.32113e8",
                "36e29cfe.00a154"
            ]
        ]
    },
    {
        "id": "cc5f0310.109e5",
        "type": "function",
        "z": "4802f08a.e28c8",
        "name": "",
        "func": "\nglobal.set('Value',msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "876c1a3.32113e8",
        "type": "debug",
        "z": "5926e5fb.06ee9c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "67ec706f.ba759",
        "type": "function",
        "z": "d6c6f9c.fb54f08",
        "name": "response data",
        "func": "var value=global.get('Value');\nvalue =msg.payload.value;\nmsg.payload=value;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "3a48e7ca.9d9168"
            ]
        ]
    },
    {
        "id": "aea4b687.e4e608",
        "type": "firebase.on",
        "z": "c61304d7.c388e8",
        "name": "db_get",
        "firebaseconfig": "51038992.05f198",
        "childpath": "get",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 210,
        "y": 520,
        "wires": [
            [
                "87815366.23933",
                "34a4055.dc17bfa",
                "907f190c.779de8"
            ]
        ]
    },
    {
        "id": "87815366.23933",
        "type": "function",
        "z": "c61304d7.c388e8",
        "name": "",
        "func": "\nglobal.set('Get',msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "34a4055.dc17bfa",
        "type": "debug",
        "z": "c61304d7.c388e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "18900538.df221b",
        "type": "function",
        "z": "b483e77d.48ce08",
        "name": "response data",
        "func": "var count=global.get('Get');\ncount=count+1;\nmsg.payload=count\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 40,
        "wires": [
            [
                "89a3d4a5.2e7758"
            ]
        ]
    },
    {
        "id": "36e29cfe.00a154",
        "type": "ui_gauge",
        "z": "5926e5fb.06ee9c",
        "name": "",
        "group": "acf12baf.a4ecb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Post Value",
        "label": "units",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "c13f19b.8e803e8",
        "type": "subflow:5926e5fb.06ee9c",
        "z": "4802f08a.e28c8",
        "name": "Value_db",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "cc5f0310.109e5"
            ]
        ]
    },
    {
        "id": "3d2239c9.608856",
        "type": "subflow:c61304d7.c388e8",
        "z": "4802f08a.e28c8",
        "name": "Get_db",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "bcd475cd.dbb5d8",
        "type": "subflow:d6158ccb.01e2c",
        "z": "4802f08a.e28c8",
        "name": "Post_db",
        "x": 220,
        "y": 140,
        "wires": []
    },
    {
        "id": "3a48e7ca.9d9168",
        "type": "firebase modify",
        "z": "d6c6f9c.fb54f08",
        "name": "update_value",
        "firebaseconfig": "b1d3ba39.817868",
        "childpath": "value",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 600,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1dd9ef08.5ff261",
        "type": "firebase modify",
        "z": "d6c6f9c.fb54f08",
        "name": "update_post",
        "firebaseconfig": "b1d3ba39.817868",
        "childpath": "post",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 650,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "89a3d4a5.2e7758",
        "type": "firebase modify",
        "z": "b483e77d.48ce08",
        "name": "update_get",
        "firebaseconfig": "51038992.05f198",
        "childpath": "get",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 510,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3147f93e.0ee686",
        "type": "ui_text",
        "z": "4802f08a.e28c8",
        "group": "d09b2e26.23c97",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Post",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 410,
        "y": 460,
        "wires": [],
        "icon": "node-red-node-rbe/rbe.png"
    }
]